<img src="http://placekitten.com/g/231/231">
<h1> <%= @cat.name %> </h1> 
<table>
  <tr>
    <th>Attribute</th>
    <th>Value</th>
  </tr>
  <tr>
    <td> AGE: </td>
    <td> <%= (Time.now.to_s[0..3].to_i - Cat.first.birth_date.to_s[0..3].to_i) %> </td>
  </tr>
  <tr>
    <td> BIRTH_DATE: </td>
    <td> <%= @cat.birth_date %> </td>
  </tr>
  <tr>
    <td> COLOR: </td>
    <td> <%= @cat.color %> </td>
  </tr>
  <tr>
    <td> SEX: </td>
    <td> <%= @cat.sex %> </td>
  </tr>
</table>